
  
.star-filled {
    color: rgb(255,96,96);
}
  
.star-empty {
    color: lightgray;
}
.containerStar{
    display: flex;
    justify-content: flex-end;
    .star-rating{
        display: flex;
        width: 50%;
        justify-content: space-around;
        @media (max-width: 992px) {
            width: 125px;
        }
       
    }

}