.collapse{
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px) {
        flex-direction: column;
        height: auto;
  
    }
    
    .accordion {
        width: 45%;
        padding: 0;
        margin: 0;
        margin-top: 30px;
        @media (max-width: 992px) {
            width: 100%;
      
        }
        
        ul{
            padding: 0;
            margin: 0;

            li{
                list-style: none;
            };
        }
        
    }
}
.info{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 110px;
    color: rgb(255,96,96);
    @media (max-width: 992px) {
        flex-direction: column;
        height: auto;
  
    }
    .infoLeft{
        display: flex;
        flex-direction: column;
        width: 70%;
        @media (max-width: 992px) {
            width: 100%;

      
        }
        h1{
            margin-top: 0;
            margin-bottom: 8px;
        }
        .containerTag{
            margin-top: 25px;
            @media (max-width: 992px) {
                display: flex;
                flex-wrap: wrap;
                margin-top: 30px;
            }

            .tags{
                padding: 6px;
                padding-left: 30px;
                padding-right: 30px;
                background-color:rgb(255,96,96) ;
                border-radius: 12px;
                color: white;
                margin-right: 10px;
                margin-top: 25px;
                @media (max-width: 992px) {
                    // margin-bottom: 10px;
                    margin-top: 10px;
                }

            }
        }
    }
    .infoRight{
        display: flex;
        flex-direction: column;
        width: 30%;
        justify-content: right;

        @media (max-width: 992px) {
            // flex-direction: row;
            flex-direction: row-reverse;
            height: auto;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            margin-top: 20px;
        }

        .infoHost{
            display: flex;
            justify-content: right;
            height: 60%;
            margin-bottom: 4%;
            @media (max-width: 992px) {
                margin-bottom: 0;

          
            }

            img{
                border-radius: 50%;
                height: 64px;
                width: 64px;
            }
            .hostName{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                width: 5%;
                justify-content: right;
                margin-right: 6px;

                .hostFirstName{
                    margin-top: 5px;
                    margin-bottom: -11px;

                }
                // .hostLastName{
                    
                // }
            }
        }
        
    }
}
